<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SHL AI Agent</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>SHL AI Assessment Agent</h1>

      <div id="chat-box"></div>

      <div class="input-area">
        <input
          type="text"
          id="question"
          placeholder="Ask hiring requirements..."
        />

        <button onclick="askQuestion()">Ask</button>
      </div>
    </div>

    <p class="footer">Built using FastAPI, ChromaDB, Groq, and RAG Pipeline</p>

    <script src="/static/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </body>
</html>
